<span class="title-block">{{creative.name}}</span>
<div class="row wrap-left-block">
  <div class="wrap-img">
    <img src="{{creative.assetUrl}}" height="250px" width="250px">
  </div>
  <div class="wrap-graph">
    <div class="graph-item">
      <div class="wrap-legend">
        <chart type="pie" [series]="shareOfImpressionsSeries" [options]="impressionsGaugeOptions"></chart>
        <div class="text-wrap">
          <span class="num">{{shareOfTotals['impressions'] | percent}}</span>
          <span class="title">Of total<br>{{creative?.metrics?.impressions?.displayName}}</span>
        </div>
      </div>
      <div class="statistic-graph">
        <div class="legend-item">
          <icon type="image"></icon>
          <div class="text">
            <span class="num">{{creative?.metrics?.impressions?.value | number}}</span>
            <span class="title">{{creative?.metrics?.impressions?.displayName}}</span>
          </div>
        </div>
        <div class="legend-item">
          <icon type="likes"></icon>
          <div class="text">
            <span class="num">{{creative?.metrics?.likes?.value | number}}</span>
            <span class="title">{{creative?.metrics?.likes?.displayName}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="graph-item">
      <div class="wrap-legend">
        <chart type="pie" [series]="shareOfClicksSeries" [options]="clicksGaugeOptions"></chart>
        <div class="text-wrap">
          <span class="num">{{shareOfTotals['clicks'] | percent}}</span>
          <span class="title">Of total<br>{{creative?.metrics?.clicks?.displayName}}</span>
        </div>
      </div>
      <div class="statistic-graph">
        <div class="legend-item right-aligned">
          <div class="text">
            <span class="num">{{creative?.metrics?.clicks?.value | number}}</span>
            <span class="title">{{creative?.metrics?.clicks?.displayName}}</span>
          </div>
          <icon type="hand"></icon>
        </div>
        <div class="legend-item right-aligned">
          <div class="text">
            <span class="num">{{creative?.metrics?.ctr?.value | percent}}</span>
            <span class="title">{{creative?.metrics?.ctr?.displayName}}</span>
          </div>
          <icon type="click"></icon>
        </div>
      </div>
    </div>
  </div>
</div>
