@import '../../../styles/base/_variables';

.slide {
  padding: 55px;
  background-color: #fff;
  &.consumers {
    background: @white;
  }
  &.business {
    background: @dark-blue;
  }
  .main {
    display: flex;
    padding: 45px;
    .left-col {
      display: flex;
      justify-content: space-between;
      width: 50%;
      flex-direction: column;
      margin: 150px 0 90px 50px;
      h3 {
        font-size: 58px;
      }
    }
    .right-col {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 150px 0 100px 30px;
      img {
        width: 680px;
      }
    }
  }
}
.bar {
  margin: 30px 30px 100px 0px;
}
h5 {
  font-weight: 300;
  margin-bottom: 10px;
}
.name {
  font-weight: bolder;
}
.section {
  background: #e6f2f7;
  height: 100%;
}
.text2 {
  margin-bottom: 60px; 
  margin-top: 100px;
}
.text1 {
  margin-bottom: 30px;
}
