@import '../../../styles/base/_variables';

.white-box {
  padding: 55px;
  background-color: #fff;
  height: 100%;
}
.blue-box {
  background-color: #e6f2f7;
  padding: 40px;
  height: 100%;
}
.slide-header {
  text-align: center;
}
.box {
  background-color: #0071b3;
  border-radius: 6px;
  width: 90%;
  height: 30px;
  padding: 10px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  h6{
    text-align: center;
    color: white;
    font-weight: bolder;
  }
}
.main{
  display: flex;
  justify-content: space-between; 
}
.container {
  width: 48%;
}
.table-box {
  background-color: #f7a200;
  color: #fff;
  width: 60%;
  margin: 16px auto;
  padding: 4px;
  text-align: center;
  height: 30px; 
  display: flex;
  align-items: center;
  justify-content: center; 
}
.chart {
  height: 300px; 
}
.table {
  max-height: 25px;
  padding: 15px;
  width: 80%;
  margin: 0 10%;
}
.legend {
  margin: 1% auto; 
  text-align: center;
}
td {
  border-top: 1px solid grey;
  padding: 15px 25px;
  font-size: 18px;

}
th {
  font-weight: 600;
  font-size: 18px;
}
.table-box.consumers {
  background-color: orange; 
}
.table-box.business {
  background-color: @dark-blue; 
}
