body {
	font-family: @base-fontfamily;
	font-weight: @base-font-weight;
	line-height: @base-line-height;
	background: @base-body-bg;
	font-size: @base-font-size;
	color: @base-font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: @header-font;
	font-weight: @heading-font-weight;
}

h1 {
	font-size: 52px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 44px;
}

h6 {
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: @text-gray;
	margin-bottom: 18px;
}
