@blue: #2435c5;
@white: #fff;
@text-gray: #7a7b8d;
@gray: #ccc;
@light-gray: #eeeff7;
@black: #000000;

@primary-font: 'LibreFranklin-Medium', sans-serif;
@header-font: 'LibreFranklin-Bold', sans-serif;


@base-fontfamily: @primary-font;
@base-font-weight: normal;
@base-line-height: 1.125;
@base-body-bg: @gray;
@base-font-size: 16px;
@base-font-color: @black;

@heading-font-weight: 300;

@primary-color: @black;
