@import '../../../styles/base/_variables';

.slide-header {
  margin-bottom: 40px;
}

.insights-body {
  display: flex;
  height: 80%;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  height: 80%;
  width: 33.3%;

  ::ng-deep .ql-editor {
    font-size: 26px;
    padding: 10px;
    font-weight: 300;
  }

  .outer-container {
    height: 100%;
    display: flex;
    width: 95%;
  }
  .border {
    border-style: hidden solid hidden hidden;
    border-width: 2px;
    border-color: lightgray;
  }

  .campaign-objectives {
    width: 100%;
    height: 100%;
  }

  .header {
    font-size: 42px;
    font-family: LibreFranklin-Regular,sans-serif;
    margin-bottom: 40px;

  }
}
