<div class="main-container">
  <div class="header-container">
    <div class="image-container">
        <!-- <img src="assets/img/border.png" alt="border" id="border" height="300" width="300" /> -->
      <img [src]="headerImg" alt="header image" height="300" width="300" />
    </div>
    <div class="design-container">
      <div class="blue-container">
        <div class="text-1">{{headerTitle}}</div>
        <div class="text-2">{{headerSubTitle}}</div>
      </div>
      <div class="dark-blue"></div>
      <div class="violet-container"></div>
    </div>
  </div>
  <div class="body-container">
    <div class="inner-container">
      <div class="name-container">
        <span id="name"> {{ campaignName }}</span> <br />
        <span id="performance" [innerHTML]="subTitle"></span>
      </div>
      <div class="logo">
      
        <img [src]="logo" alt="cox logo" height="60" width="96" />
      </div>
    </div>
    <img
      [src]="bodyImg"
      id="body-img"
      alt="body image"
      height="480"
      width="480"
    />
  </div>
</div>
