.primary-text {
  color: @primary-color;
}

.facebook {
  color: @desktop;
}

.instagram {
  color: @tablet;
}

.audience_network {
  color: @smartphone;
}

.messenger {
  color: @video;
}

.facebook-percent-bar {
  &:after {
    background: @desktop;
  }
}

.instagram-percent-bar {
  &:after {
    background: @tablet;
  }
}

.audience_network-percent-bar {
  &:after {
    background: @smartphone;
  }
}

.messenger-percent-bar {
  &:after {
    background: @video;
  }
}
