@blue: #006384;
@light-blue: #28aae2;
@white: #fff;
@text-gray: #abacad;
@gray: #ccc;
@light-gray: #ebecec;
@black: #12142a;
@dark-orange: #f25923;

@desktop: @blue;
@tablet: @light-blue;
@smartphone: @dark-orange;
@mobile: @dark-orange;
@video: @light-blue;

@base-fontfamily: arial, sans-serif;
@base-font-weight: normal;
@base-line-height: 1.3;
@base-body-bg: @gray;
@base-font-size: 20px;
@base-font-color: @black;

@heading-font-weight: 300;

@primary-color: @blue;
