@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.content {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  .list {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 40%;
    .list-item {
      margin-bottom: 20px;
    }
    span {
      margin-right: 10px;
      font-size: 24px;
      font-weight: 100;
      margin-top: 20px;
    }
    .gold-text {
      font-style: italic;
      color: #c55a11;
    }
  }
  .side-img {
    position: absolute;
    height: 90%;
    right: 0;
    top: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

h1 {
  font-size: 48px;
  margin-top: 60px;
}

.flag {
  background-color: red;
  width: 50px;
  height: 8px;
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 15px;
}
