<slide name="social-media-performance">
  <section class="slide container">
    <div class="main">
      <div class="header-container"></div>
      <div class="body-container">
        <div class="box" [ngStyle]="{ 'background-color': boxOne }">
          <div class="box-content">
            <h3 class="title" [ngStyle]="{ color: '#0F155B' }">
              Impressions Delivered
            </h3>
            <h3 class="sub-title" [ngStyle]="{ color: '#0F155B' }">
              No. of times your message was shown
            </h3>
          </div>
          <div class="vertical-box"></div>
        </div>

        <div class="box-two"></div>
        <div class="box-three"></div>
      </div>
    </div>
  </section>
</slide>
