.slide-header {
  text-align: center;
}
.blue-container {
  background-color: #e6f2f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 55px;
  flex-grow: 1;
}
.header-line {
  width: 10%;
  height: 10px;
  margin: 20px 0px;
  background-color: #f9ab1d;
}
.box {
  background-color: #0071b3;
  border-radius: 6px;
  width: 90%;
  height: 30px;
  padding: 10px;
  margin: 30px 0px;
  flex: 1;
  h6{
    text-align: center;
    color: white;
    align-items: center;
     
  }
}
.screenshot-container {
  margin-bottom: 10px;
  flex: 1;
}
.main-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 80%;
  width: 90%;
  padding: 20px;
  margin: 20px 180px 20px 80px;
}
.screenshot-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  margin-top: 15px;
}
.screenshot-text {
  margin-top: 10px;
}
.textbox-image-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  height: 80%;
  width: 100%;
}
.textbox-container {
  margin-right: 20px;
}
.white .ql-editor {
  width: 100% !important;
}
.white {
  background-color: white;
  margin: 33% 0%;
  width: 100%;
  align-items: center;
}
