.platform-0 {
  color: #00a4df;
  &.bar {
    background: #00a4df;
  }
}

.platform-1 {
  color: #69b997;
  &.bar {
    background: #69b997;
  }
}

.platform-2 {
  color: #f9b000;
  &.bar {
    background: #f9b000;
  }
}

.platform-3 {
  color: #82c9ee;
  &.bar {
    background: #82c9ee;
 }
}

.subsite-0 {
  color: #00a4df;
  &.bar {
    background: #00a4df;
  }
}

.subsite-1 {
  color: #69b997;
  &.bar {
    background: #69b997;
  }
}

.subsite-2 {
  color: #f9b000;
  &.bar {
    background: #f9b000;
  }
}

.subsite-3 {
  color: #82c9ee;
  &.bar {
    background: #82c9ee;
  }
}

.subsite-4 {
  color: #afd6c1;
  &.bar {
    background: #afd6c1;
  }
}
