table {
  width: 100%;
  letter-spacing: 0.05em;
	font-weight: 300;

  thead {
		tr {
			text-align: left;
    }

    th {
      font-weight: 700;
      text-align: left;
      white-space: nowrap;
      padding: 0px 20px 16px 20px;
      font-size: 36px;
      line-height: 30px;
      vertical-align: bottom;

      &.wrapped {
        font-size: 26px;
        line-height: 28px;
      }
    }
  }

  td {
    padding: 35px 25px;
    font-size: 30px;
  }

  .metric {
    width: 122px;
    text-align: right;
    white-space: nowrap;
  }

  th, td {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
