body {
	font-family: @base-fontfamily;
}


h2,
h3,
h4,
h5{
	font-family: @base-fontfamily;
	font-weight: @heading-font-weight;
}

h1 {
	font-size: 100px;
	font-family: @header-font;
}

h2 {
	font-size: 80px;
	font-weight: bolder;
}

h3 {
	font-size: 64px;
}

h4 {
	font-size: 50px;
}

h5 {
	font-size: 36px;
}

h6 {
	font-size: 24px;
	font-weight: bolder;
	font-family: @header-font;
}