@white: #FFFFFF;
@dark-blue: #0071B3;
@orange: #F7A100;
@brown: #53241B;
@logo-blue: #5FC6F8;
@light-blue: #E6F2F7;
@green: #64B996;
@light-grey: #CCCCCC;
@grey: #999999;
@dark-grey: #333333;

@base-fontfamily: arial, sans-serif;
@base-font-weight: normal;
@base-line-height: 1.3;
@heading-font-weight: 200;
@header-font: arial, sans-serif;
