.slide-cover {
	.header {
		margin: 0 auto;
		margin-top: 200px;
	}
	h1 {
		font-size: 7em;
		text-align: center;
	}

	h2 {
		text-align: center;
		font-size: 4em;
	}

	.cnet-logo {
		position: absolute;
		left: 900px;
		bottom: 300px;

		img {
		}
	}

	.rv-logo {
		position: absolute;
		left: 800px;
		bottom: 200px;

		img {
			width:400px;
		}
	}
}