th {
  font-weight: bold;
}

.metric {
  text-align: right;
}

.table {
  margin-top: 50px;
}

.total-row {
  border-top: 1px solid black;
}

tr {
  max-height: 150px;
}

td {
  position: relative;
}

.blue { color: #1a0dab; }
.green { color: #006621; }

.gam-container {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.image-section {
  flex: 1;
  margin-right: 8px;
  width: 320px;
  max-width: 320px;
}

.name-section {
  flex: 1;
  display: flex;
  align-items: center;
}

gam-creative {
  display: block;
  width: 60%;
}

.name-section span {
  white-space: normal;
}
