@import '../../../styles/base/_variables';

.delivery-by-age-slide {
  &.slide {
    height: 100%;
    width: 100%;
    padding: 50px 80px 40px 80px;
    color: black;
  }
  .header {
    font-size: 3em;
    font-family: @extrabold-font;
    text-align: center;
  }
  .main {
    margin: 20px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
  }
  .chart-content {
    height: 660px;
    position: absolute;
    left: 150px;
    right: 150px;
    padding: 10px 10px 10px 10px;
    border: solid;
    border-radius: 2px;
    border-color: lightgray;
  }
  .data-source {
    margin-left: 150px;
    width: fit-content;
    font-family: @primary-font;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    .note-txt {
      font-size: 0.8em; 
      font-style:italic;
    }
  }
}