@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

@media print {
  body {
    margin: 0 !important;
    padding: 0 !important;

    .ql-toolbar {
      display: none;
    }

    .ql-container {

      &.ql-snow {
        border: none;
      }

      .ql-editor {
        padding: 0;
        &:before {
          content: none;
        }
      }
    }
  }
}


text-editor, number-editor {
  .ql-toolbar.ql-snow {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .ql-editor {
    strong {
      font-weight: bold;
    }

    em {
      font-style: italic;
    }
  }
}
