<div class="loading-container" ></div>
<cover></cover>
<overview></overview>
<onsite-display-overview *ngIf="hasOnsiteDisplay"></onsite-display-overview>
<onsite-display-line-item-breakdown *ngIf="hasOnsiteDisplay"></onsite-display-line-item-breakdown>
<onsite-display-breakdown *ngIf="hasOnsiteDisplay"></onsite-display-breakdown>
<onsite-display-metro-breakdown *ngIf="hasOnsiteDisplay"></onsite-display-metro-breakdown>
<onsite-video-overview *ngIf="hasOnsiteVideo"></onsite-video-overview>
<onsite-video-breakdown *ngIf="hasOnsiteVideo"></onsite-video-breakdown>
<onsite-video-metro-breakdown *ngIf="hasOnsiteVideo"></onsite-video-metro-breakdown>
<newsletters-overview *ngIf="hasNewsletters"></newsletters-overview>
<newsletters-line-item-breakdown *ngIf="hasNewsletters"></newsletters-line-item-breakdown>
<newsletters-breakdown *ngIf="hasNewsletters"></newsletters-breakdown>
<newsletters-metro-breakdown *ngIf="hasNewsletters"></newsletters-metro-breakdown>
<google-search-overview *ngIf="hasGoogleSearch"></google-search-overview>
<google-search-breakdown *ngIf="hasGoogleSearch"></google-search-breakdown>
<google-ads *ngIf="hasGoogleAds"></google-ads>
<sem-keyword-breakdown *ngIf="hasSemKeywords"></sem-keyword-breakdown>
<streaming-tv-overview *ngIf="hasStreamingTv"></streaming-tv-overview>
<streaming-tv-line-item-breakdown *ngIf="hasStreamingTv"></streaming-tv-line-item-breakdown>
<streaming-tv-app-breakdown *ngIf="hasStreamingTv"></streaming-tv-app-breakdown>
<streaming-tv-breakdown *ngIf="hasStreamingTv"></streaming-tv-breakdown>
<streaming-radio-overview *ngIf="hasStreamingRadio"></streaming-radio-overview>
<streaming-radio-line-item-breakdown *ngIf="hasStreamingRadio"></streaming-radio-line-item-breakdown>
<streaming-radio-app-breakdown *ngIf="hasStreamingRadio"></streaming-radio-app-breakdown>
<streaming-radio-breakdown *ngIf="hasStreamingRadio"></streaming-radio-breakdown>
<youtube-overview *ngIf="hasYoutube"></youtube-overview>
<youtube-breakdown *ngIf="hasYoutube"></youtube-breakdown>
<preroll-video-overview *ngIf="hasYoutube"></preroll-video-overview>
<preroll-video-breakdown *ngIf="hasYoutube"></preroll-video-breakdown>
<preroll-video-app-breakdown *ngIf="hasYoutube"></preroll-video-app-breakdown>
<extended-network-display-overview *ngIf="hasExtendedNetworkDisplay"></extended-network-display-overview>
<extended-network-display-breakdown *ngIf="hasExtendedNetworkDisplay"></extended-network-display-breakdown>
<extended-network-display-line-item-breakdown *ngIf="hasExtendedNetworkDisplay"></extended-network-display-line-item-breakdown>
<extended-network-display-geo *ngIf="hasExtendedNetworkDisplay"></extended-network-display-geo>
<facebook-overview *ngIf="hasFacebook"></facebook-overview>
<facebook-breakdown *ngIf="hasFacebook"></facebook-breakdown>
<facebook-ad-set-breakdown *ngIf="hasFacebook"></facebook-ad-set-breakdown>
<facebook-campaign-breakdown *ngIf="hasFacebook"></facebook-campaign-breakdown>
<social-overview *ngIf="hasSocial"></social-overview>
<tiktok-overview *ngIf="hasTikTok"></tiktok-overview>
<tiktok-line-item-breakdown *ngIf="hasTikTok"></tiktok-line-item-breakdown>
<tiktok-breakdown *ngIf="hasTikTok"></tiktok-breakdown>
<branded-content-overview *ngIf="hasBrandedContent"></branded-content-overview>
<branded-content-article-breakdown *ngIf="hasBrandedContent"></branded-content-article-breakdown>
<amazon-video *ngIf="hasAmazonVideo"></amazon-video>
<amazon-video-line-item-breakdown *ngIf="hasAmazonVideo"></amazon-video-line-item-breakdown>
<amazon-video-breakdown *ngIf="hasAmazonVideo"></amazon-video-breakdown>
<amazon-display *ngIf="hasAmazonDisplay"></amazon-display>
<amazon-display-line-item-breakdown *ngIf="hasAmazonDisplay"></amazon-display-line-item-breakdown>
<amazon-display-breakdown *ngIf="hasAmazonDisplay"></amazon-display-breakdown>
<site-impact-overview *ngIf="hasSiteImpact"></site-impact-overview>
<site-impact-breakdown *ngIf="hasSiteImpact"></site-impact-breakdown>
<site-impact-top-creative *ngIf="hasSiteImpact"></site-impact-top-creative>
<google-analytics-overview *ngIf="hasGoogleAnalytics"></google-analytics-overview>
<google-analytics-channel-breakdown *ngIf="hasGoogleAnalytics"></google-analytics-channel-breakdown>
<premium-programmatic-video-overview *ngIf="hasProgrammaticVideo"></premium-programmatic-video-overview>
<premium-programmatic-video-breakdown *ngIf="hasProgrammaticVideo"></premium-programmatic-video-breakdown>
<premium-programmatic-video-line-item-breakdown *ngIf="hasProgrammaticVideo"></premium-programmatic-video-line-item-breakdown>
<geofencing-overview *ngIf="hasGeoFencing"></geofencing-overview>
<geofencing-campaigns *ngIf="hasGeoFencing"></geofencing-campaigns>
<geofencing-creatives *ngIf="hasGeoFencing"></geofencing-creatives>
<geofencing-geo *ngIf="hasGeoFencing"></geofencing-geo>
<linkedin-overview *ngIf="hasLinkedIn"></linkedin-overview>
<linkedin-campaign-performance *ngIf="hasLinkedIn"></linkedin-campaign-performance>
<linkedin-creative-performance *ngIf="hasLinkedIn"></linkedin-creative-performance>
<linkedin-geo *ngIf="hasLinkedIn"></linkedin-geo>
<glossary></glossary>
<glossary2></glossary2>
<glossary3></glossary3>
<glossary4></glossary4>
<glossary5></glossary5>
<key-terms-know></key-terms-know>
<key-terms-know2></key-terms-know2>
<ctr-report-main></ctr-report-main>
<ctr-report></ctr-report>
<thank-you></thank-you>
