.chart-content {
  height: 350px;
  width: 100%;
}

icon {
  width: 55px;
  margin-right: 1rem;
}

.summary {
  position: relative;
  margin: 25px 0;
}

.summary-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  & ::ng-deep .ql-editor {
    font-size: 24px;

    p {
      font-size: 24px;
    }
  }
}
