.content-block {
  display: flex;
}

.flex-item {
  width: 50%;
  height: 100%;
  .img-upload-wrapper {
    width: 800px;
    height: 750px;
  }

  text-editor {
    height: 700px;
    width: 800px;
  }
}
