@import '../../../styles/base/_variables';

.col-one-of-two {
  &.left-block {
    width: 40%;
    td {
      padding: 10px 25px;
    }
  }

  &.right-block{
    width: 60%;
    line-height: 5;
  }

  .circle-wrapper {
    height: 600px;
    width: 600px;
  }
}

.chart-title {
  text-align: center;
  font-weight: bold;
}