<div class="loading-container" ></div>
<cover></cover>
<table-of-contents></table-of-contents>
<overview></overview>
<centro-overview></centro-overview>
<line-items></line-items>
<centro-line-items></centro-line-items>
<top-creatives></top-creatives>
<centro-top-creatives></centro-top-creatives>
<creative-sizes></creative-sizes>
<platforms></platforms>
<centro-platforms></centro-platforms>
<geographical-distribution></geographical-distribution>
<centro-geographical-distribution></centro-geographical-distribution>
<thank-you></thank-you>
<glossary></glossary>
