<div class="loading-container"></div>
<cover [backgroundColor]="bgcolor"></cover>
<campaign-objectives [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></campaign-objectives>
<screenshot-mobiles [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></screenshot-mobiles>
<screenshot-boxes [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></screenshot-boxes>
<screenshot-1 [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></screenshot-1>
<screenshot-2 [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></screenshot-2>
<screenshot-3 [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></screenshot-3>
<screenshot-4 [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></screenshot-4>
<screenshot-5 [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></screenshot-5>
<overview [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></overview>
<performance-overview [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></performance-overview>
<insights [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></insights>
<line-items [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></line-items>
<engagements [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></engagements>
<top-line-ctr [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></top-line-ctr>
<top-creative-ctr [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></top-creative-ctr>
<podcast-overview [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></podcast-overview>
<platforms [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></platforms>
<world-geographical-distribution [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></world-geographical-distribution>
<geographical-distribution [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></geographical-distribution>
<asia-geographical-distribution [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></asia-geographical-distribution>
<europe-geographical-distribution [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></europe-geographical-distribution>
<benchmarks-cover [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></benchmarks-cover>
<sections-ctr-gam [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></sections-ctr-gam>
<sections-vcr-benchmarks [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></sections-vcr-benchmarks>
<device-ad-type-ctr-benchmarks [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></device-ad-type-ctr-benchmarks>
<device-ad-type-vcr-benchmarks [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></device-ad-type-vcr-benchmarks>
<motivation [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></motivation>
<emotion [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></emotion>
<native-content-cover [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></native-content-cover>
<native-content-overview [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></native-content-overview>
<native-line-items [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></native-line-items>
<native-dsm-line-items [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></native-dsm-line-items>
<summary [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></summary>
<native-content [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></native-content>
<native-content-top-creatives [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></native-content-top-creatives>
<facebook-delivery [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></facebook-delivery>
<generic-delivery [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></generic-delivery>
<insights-recommendations [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></insights-recommendations>
<thank-you [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></thank-you>
<glossary glossaryType="metric" [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></glossary>
<glossary glossaryType="emotion" [backgroundColor]="bgcolor" [fontStyling]="fontStyling"></glossary>