<slide [loading]="loading" name="Simplifi Native Device">
  <section class="slide campaigns">
    <slide-header text="Simplifi Native Device Performance"></slide-header>
    <div class="row">
      <div class="col-one-of-two left-block">
        <chart class="pie-chart" type="column" [series]="series" [options]="options"></chart>
      </div>
      <div class="col-one-of-two right-block">
        <simplifi-table class="zip-table" [items]="filteredDevices" [kpis]="kpis" header="Device"></simplifi-table>
      </div>
    </div>   
    <slide-footer slideName="device-breakdown"></slide-footer>
  </section>
</slide>
