.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.header-container {
  margin-bottom: 140px;
}
.content-container {
  display: flex;
  flex-direction: column;
  gap: 90px;
  padding-top: 37px;
  padding-left: 123px;
  width: 100%;
}
.body-container {
  width: 80%;
  display: flex;
  gap: 40px;
  align-items: center;
  img {
    width: 192px;
  }
}
#title {
  font-size: 21px;
  font-weight: bold;
  font-family: "calibri";
}
.text-container {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.footer-container {
  margin-top: 40px;
}
