<slide name="Campaign Highlights">
  <section class="slide slide-cover">
    <div class="main-container">
      <div class="header-container">
        <header [headerTitle]="'Campaign Highlights'" [greyBox]="true"></header>
      </div>
      <div class="content-container">
        <div class="body-container">
          <img src="assets/img/goal.png" alt="" />
          <div class="text-container">
            <h6>Campaign Highlight #1</h6>
            <div class="text-editor">
              <text-editor class="text-editor" id="Highlight1"></text-editor>
            </div>
          </div>
        </div>
        <div class="body-container">
          <img src="assets/img/aim.png" alt="" />
          <div class="text-container">
            <h6>Campaign Highlight #2</h6>
            <div class="text-editor">
              <text-editor class="text-editor" id="Highlight2"></text-editor>
            </div>
          </div>
        </div>
        <div class="body-container">
          <img src="assets/img/settings.png" alt="" />
          <div class="text-container">
            <h6>Campaign Highlight #3</h6>
            <div class="text-editor">
              <text-editor class="text-editor" id="Highlight3"></text-editor>
            </div>
          </div>
        </div>
      </div>
     
    </div>
    <div class="footer-container">
      <footer-new></footer-new>
    </div>
  </section>
</slide>
