<div class="loading-container"></div>
<cover-new></cover-new>
<campaign-highlights></campaign-highlights>
<monthly-summary></monthly-summary>
<performance-summary></performance-summary>
<tactic-summary></tactic-summary>
<text-banner [header]="'Streaming & Video'"></text-banner>
<streaming-performance></streaming-performance>
<video-performance></video-performance>
<display-performance></display-performance>
<streaming-network></streaming-network>
<video-site></video-site>
<text-banner [header]="'Display'"></text-banner>
<text-banner [header]="'Social Media'"></text-banner>
<text-banner [header]="'Paid Search'"></text-banner>
<paid-search-summary></paid-search-summary>
