<div class="loading-container" ></div>
<cover></cover>
<overview></overview>
<key-insights></key-insights>
<!-- VIDEO !-->
<video-summary></video-summary>
<video-creative></video-creative>
<performance-overview></performance-overview>
<delivery-by-screen></delivery-by-screen>
<delivery-by-daypart></delivery-by-daypart>

<audience-extension-video-adobe></audience-extension-video-adobe>
<audience-extension-video-altice></audience-extension-video-altice>
<audience-extension-video-simplifi></audience-extension-video-simplifi>
<audience-extension-video-gcm-dv360></audience-extension-video-gcm-dv360>
<audience-extension-video-gcm-youtube></audience-extension-video-gcm-youtube>
<audience-extension-video-gcm-amazon></audience-extension-video-gcm-amazon>
<audience-extension-video-verve></audience-extension-video-verve>
<audience-extension-video-geo></audience-extension-video-geo>
<audience-extension-video-keywords></audience-extension-video-keywords>
<!-- END VIDEO !-->
<!-- DISPLAY !-->
<display-summary></display-summary>
<display-creative></display-creative>
<audience-extension-display-adobe></audience-extension-display-adobe>
<audience-extension-display-altice></audience-extension-display-altice>
<audience-extension-display-gcm-dv360></audience-extension-display-gcm-dv360>
<audience-extension-display-gcm-dv360-conversion></audience-extension-display-gcm-dv360-conversion>
<audience-extension-display-gcm-amazon></audience-extension-display-gcm-amazon>
<audience-extension-display-gcm-amazon-conversion></audience-extension-display-gcm-amazon-conversion>
<audience-extension-display-simplifi></audience-extension-display-simplifi>
<interactive-display></interactive-display>
<cta-display-performance></cta-display-performance>
<audience-extension-display-geo></audience-extension-display-geo>
<audience-extension-display-keywords></audience-extension-display-keywords>
<cpa-display-performance></cpa-display-performance>
<!-- END DISPLAY !-->
<!-- SEARCH !-->
<search-summary></search-summary>
<search-performance-overview></search-performance-overview>
<search-performance-overview-total></search-performance-overview-total>
<search-keywords-performance></search-keywords-performance>
<search-creative></search-creative>
<search-delivery-by-screen></search-delivery-by-screen>
<!--END SEARCH-->
<!-- DFP !-->
<dfp-creative></dfp-creative>
<dfp-performance-overview></dfp-performance-overview>
<dfp-interactive></dfp-interactive>
<!-- END DFP !-->
<!-- Auto Dynamic !-->
<auto-dynamic-summary></auto-dynamic-summary>
<auto-dynamic-performance-overview-total></auto-dynamic-performance-overview-total>
<!-- END Auto Dynamic!-->
<!-- Social -->
<social-media-summary></social-media-summary>
<social-impressions-performance-overview></social-impressions-performance-overview>
<social-clicks-performance-overview></social-clicks-performance-overview>
<social-views-performance-overview></social-views-performance-overview>
<social-leads-performance-overview></social-leads-performance-overview>
<social-events-performance-overview></social-events-performance-overview>
<!-- END Social!-->
<!-- LISTING MANAGEMENT !-->
<listing-management-summary></listing-management-summary>
<!-- END LISTING MANAGEMENT !-->
<!-- Audio !-->
<audio-summary></audio-summary>
<audio-performance-overview-adobe></audio-performance-overview-adobe>
<audio-performance-overview-gcm></audio-performance-overview-gcm>
<!-- END Audio!-->
<google-analytics></google-analytics>
<recommendations></recommendations>
