@import '../../../styles/base/_variables';

.desktop {
  width: 1366px;
  height: 768px;
  margin:0 auto;
}

.mobile {
  width: 390px;
  height: 700px;
  margin:0 auto;
}

.title {
  margin: auto;
  color: @text-gray;
  padding-bottom: 1em;
}

.screenshot-title {
  margin-bottom: 20px;
}
