@import '../../../styles/base/_variables';

.thank-you {
  color: @white;
  &.slide {
    padding-left: 111px;
    background-image: url('../../../assets/img/thank_you.jpg');
    background-size: cover;
  }

  .logo {
    height: 4em;
    width: 16em;
  }

  .client-logo {
    margin-top: 5em;
    height: 10em;
    width: 10em;
  }
}
