@import '../../../styles/base/_variables';

.line {
  height: 10px;
  margin-bottom: 35px;
  &.consumers {
    background-color: @orange;
  }
  &.business {
    background-color: @dark-blue;
  }
  &.center {
    margin-left: 45%;
    width: 10%;
  }
  &.left {
    width: 20%;
    margin-left: 0%;
    margin-top: -25px;
  }
}