<slide *ngIf="hasSocial" [loading]="loading" name="Social - Impressions Campaign - Performance Overview">
  <section class="slide overview">
    <header class="slide-header">
      <h1 class="title">
        Social Media
      </h1>
      <div class="dates-wrapper">
        Flight Dates:
        <text-editor
          class="dates"
          [plainText]="true"
          id="flight_dates"
          [maxLength]="28"
        ></text-editor>
      </div>
    </header>
    <div class="main">
      <h2 class="subtitle">Impressions Campaign – Performance Overview</h2>
      <table class="table">
        <thead class="table__header">
          <tr class="table__row table__row--header">
            <th class="table__cell table__cell--header"></th>
            <th class="table__cell table__cell--header" *ngFor="let creative of creatives">
              <text-editor [plainText]="true" [id]="creative.id" [defaultText]="creative.name | slice:0:maxNameLength"></text-editor>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="table__row" *ngFor="let metric of metrics">
            <td class="table__cell table__cell--name">{{metric.name_1}} <span>{{metric.description}}</span></td>
            <td class="table__cell" *ngFor="let creative of creatives">{{ creative.metrics[metric.metric] | tableValue: metric.format}}</td>
          </tr>
        </tbody>
        <tfoot class="table__footer">
          <tr class="table__row table__row--footer" *ngFor="let metric of footerMetrics">
            <td class="table__cell table__cell--footer table__cell--name">{{metric.name_1}} <span>{{metric.description}}</span></td>
            <td class="table__cell table__cell--footer" *ngFor="let creative of creatives">
              {{ creative.metrics[metric.metric] | tableValue: metric.format:getFormatOptions(metric.metric, metric.format) }}
            </td>
          </tr>
        </tfoot>
      </table>
      <p class="no-data" *ngIf="!creatives || creatives.length === 0">No Data Available</p>
    </div>
  </section>
</slide>
