<slide name="Paid Search Summary">
  <section class="slide slide-cover">
    <header [headerTitle]="'Paid Search Summary'" [greyBox]="false"></header>
    <div class="main">
      <div class="header"></div>
      <div class="body-container">
        <div class="left">
            <div class="top">
              <table>
                <tbody>
                  <tr>
                    <td>Impressions</td>
                    <td>Clicks</td>
                    <td>Click Rate</td>
                    <td>Avg CPC</td>
                  </tr>
                  <tr>
                    <td>Impressions</td>
                    <td>Clicks</td>
                    <td>Click Rate</td>
                    <td>Avg CPC</td>
                  </tr>
                  <tr>
                    <td>Impressions</td>
                    <td>Clicks</td>
                    <td>Click Rate</td>
                    <td>Avg CPC</td>
                  </tr>
                  <tr>
                    <td>Top of Page %</td>
                    <td>Search Imp Share</td>
                    <td>Phone Calls</td>
                    <td>Conversions</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="bottom">

            </div>
        </div>
        <div class="right"></div>
      </div>
      <img
        src="../../../assets/img/half-circle.png"
        alt="half-circle"
        class="half-circle"
      />
      <div class="image-content">
        <h3 [ngStyle]="{ color: 'white'}">
          Key Insights:
        </h3>
        <div class="input">
          <div class="input-one">
            <text-editor class="text-editor"></text-editor>
          </div>
          <div class="input-two">
            <text-editor class="text-editor"></text-editor>
          </div>
          <div class="input-three">
            <text-editor class="text-editor"></text-editor>
          </div>
        </div>
      </div>
    </div>
    <footer-new></footer-new>
  </section>
</slide>