@blue: #1255CB;
@black: #231218;
@navy: #2b2254;
@rouge: #773256;
@rose: #a73b56;

@light-blue: #d1ddfb;
@bright-blue: #49c6f8;
@white: #fff;
@text-gray: #7a7b8d;
@gray: #ccc;
@light-gray: #eeeff7;
@pink: #fc4d87;

@desktop: @blue;
@tablet: @bright-blue;
@smartphone: @pink;
@mobile: @pink;
@video: @light-blue;

@primary-font: 'ArialMTStdRegular', sans-serif;
@light-font: 'ArialMTStdLight', sans-serif;
@medium-font: 'ArialMTStdMedium', sans-serif;
@extrabold-font: 'ArialMTStdExtraBold', sans-serif;

@base-fontfamily: @primary-font;
@base-font-weight: normal;
@base-line-height: 1.3;
@base-body-bg: @gray;
@base-font-size: 20px;
@base-font-color: @black;

@heading-font-weight: 300;

@primary-color: @blue;
