.geographical {
  .col-one-of-two {
    &.left-block {
      width: 60%;
    }

    &.right-block{
      width: 40%;
      table {
        table-layout: fixed;
        th {
          &.static {
            width: 122px;
          }
          white-space: pre-line;
        }
      }
    }
  }
}
