.geographical {
  .col-one-of-two {
    &.left-block {
      width: 60%;
      td {
        padding: 10px 25px;
      }
    }

    &.right-block {
      padding-left: 50px;
      width: 40%;
    }
  }
}
.title-region {
  white-space: nowrap;
  max-width: 20em;
  text-overflow: ellipsis;
  overflow: hidden;
}