.slide-email-screenshots {
  .flex-grid {
    display: flex;
    justify-content: space-between;
  }
  .flex-grid .col {
    width: 50%;
  }

  .card {
    text-align: center;
  }

  .image {
    height: 800px;
  }

  .name {
    font-size: 30px;
    font-weight: bold;
  }
}
