<slide name="Glossary-3">
  <divider></divider>
  <section class="slide campaigns">
    <div>
      <img class="header-logo" src="assets/img/LOGO-GeorgesMedia-Standard.png" />
    </div>  
    <div class="glossary" name="Video" toggle>
      <div class="glossary-heading">Video</div>
      <div class="glossary-subheading">(Onsite Video, Pre-Roll, Streaming TV, Premium Programmatic)</div>  
      <ul>
        <li><strong>25% Complete:</strong> The number of times videos were watched to 25% of their length.</li>
        <li><strong>50% Complete:</strong> The number of times videos were watched to 50% of their length.</li>
        <li><strong>75% Complete:</strong> The number of times videos were watched to 75% of their length.</li>
        <li><strong>Clicks:</strong> The number of times users clicked on video ads.</li>
        <li><strong>Total Conversions:</strong> The total number of times users took a desired action after interacting with a video ad, including all post-view and post-click conversions.</li>
        <li><strong>CTR (Click-Through Rate):</strong> The percentage of video ad impressions that resulted in a click.</li>
        <li><strong>Impressions:</strong> The number of times video ads were displayed.</li>
        <li><strong>Post-click Conversions:</strong> Conversions following a click on the video ad.</li>
        <li><strong>Post-view Conversions:</strong> Conversions following a view of the video ad without a click.</li>
        <li><strong>Total Time in View:</strong> The cumulative time users spent watching video ads.</li>
        <li><strong>Video Completes:</strong> The number of times videos were watched entirely.</li>
        <li><strong>Video Completion Rate:</strong> The percentage of video ads watched from start to finish.</li>
        <li><strong>Video Starts:</strong> The number of times a video ad was started by a user.</li>
        <li><strong>YouTube TrueView Views:</strong> The number of views for ads on YouTube where viewers chose not to skip the ad.</li>
      </ul>
    </div>
    <div class="glossary" name="SEM (Search Engine Marketing)" toggle>
      <div class="glossary-heading">SEM (Search Engine Marketing)</div>
      <ul>
        <li><strong>Clicks:</strong> The total number of clicks on search ads.</li>
        <li><strong>Conversions:</strong> The number of times users took a desired action after clicking on your search ads.</li>
        <li><strong>CPC (Cost Per Click):</strong> The average cost of a click on your search ads.</li>
        <li><strong>CTR (Click-Through Rate):</strong> The percentage of search ad impressions that resulted in a click.</li>
        <li><strong>Impressions:</strong> The number of times ads appeared in search results.</li>
        <li><strong>Phone Calls:</strong> The number of phone calls initiated from search ads.</li>
        <li><strong>Search Impression Share:</strong> The percentage of times your ads were shown out of the total number of times they could have been shown, based on your keywords, location targeting, and budget.</li>
      </ul>
    </div>
    <slide-footer></slide-footer>
  </section>
</slide>
