<slide [loading]="loading" name="SEM Cities">
  <divider></divider>
  <section class="slide campaigns">
    <slide-header text="SEM Cities"></slide-header>
    <div class="row">
      <div class="col-one-of-two left-block">
        <map [series]="mapSeries" [options]="mapOptions"></map>
      </div>
      <div class="col-one-of-two right-block">
        <the-advocate-table [items]="topMetros" [kpis]="kpis" header="Top 5 Cities"></the-advocate-table>
      </div>
    </div>
    <slide-footer></slide-footer>
  </section>
</slide>
