@import '../../../styles/base/_variables';

.line {
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  &.consumers {
    background-color: @orange;
  }
  &.business {
    background-color: @dark-blue;
  }
}