<slide name="Campagne" class="slide">
  <div class="section">
    <header class="slide-header">
      <text-editor [plainText]="true" id="title" class="header-editor"
        defaultText='Campagne [merknaam, maand/jaar]'></text-editor>
    </header>
    <header-line style="margin-top: 60px;margin-bottom: 40px;"></header-line>
    <div class="main1">
      <div class="card-flex">
        <div class="card left">
          <img src="assets/img/Inzichten.png" class="img" />
          <h6>Inzichten</h6>
        </div>
        <div class="card right">
          <text-editor id="Inzichten" class="text-editor"></text-editor>
        </div>
      </div>
      <div class="card-flex">
        <div class="card left">
          <img src="assets/img/Vervolg.png" class="img" />
          <h6>Vervolg campagne</h6>
        </div>
        <div class="card right">
          <text-editor id="Vervolg" class="text-editor"></text-editor>
        </div>
      </div>
    </div>
  </div>
</slide>
