.chart-content {
  height: 350px;
  width: 100%;
}

.icon {
  width: 55px;
  margin-right: 1rem;
  color: #ED1C24;
  font-weight: bold;
}

.statistic-icons-item {
  .wrap-title {
    .num {
      display: block;
      font-size: 28px;
      font-weight: 300;
      line-height: 1;
      margin-bottom: 6px;
    }
    .title {
      display: block;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: 14px;
    }
  }
}