@import '../../../styles/base/_variables';

.title-block {
  text-transform: uppercase;
  color: @text-gray;
  display: block;
  letter-spacing: 0.05em;
  font-size: 22px;
}

.col-one-of-two {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}

.divided-content {
  align-items: inherit;
}

creative-top,
creative-left {
  width: 50%;
}

h2 {
  margin-left: -80px;
  font-size: 48px;
}

.flag {
  background-color: red;
  width: 50px;
  height: 8px;
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 15px;
}

.main {
  margin-top: 50px;
}