th {
  font-weight: bold;
}

.metric {
  text-align: right;
}

.table {
  margin-top: 50px;
}

.total-row {
  border-top: 1px solid black;
}

tr {
  max-height: 150px;
}

td {
  text-align: right;
}

.blue { color: #1a0dab; }
.green { color: #006621; }
