@import '../../../styles/base/_variables';

.slide-cover {
  color: @white;
  &.slide {
    padding-left: 111px;
    background-image: url('../../../assets/img/cover.jpg');
    background-size: cover;
  }

  .logo {
    height: 4em;
    width: 16em;
  }

  .text {
    position: absolute;
    top: 8em;
    left: 5em;

    h2 {
      font-size: 2em;
    }
  }

  .client-logo {
    position: absolute;
    top: 6em;
    right: 24em;
    height: 10em;
    width: 10em;
  }
}
