<slide name="Glossary-4">
  <divider></divider>
  <section class="slide campaigns">
    <div>
      <img class="header-logo" src="assets/img/LOGO-GeorgesMedia-Standard.png" />
    </div>
    <div class="glossary" name="Targeted Email" toggle>
      <div class="glossary-heading">Targeted Email</div>
      <ul>
        <li><strong>Clicks:</strong> The number of times links within the email were clicked.</li>
        <li><strong>CTR (Click-Through Rate):</strong> The percentage of emails sent that resulted in a click.</li>
        <li><strong>Click to Open Rate (CTOR or CTVR):</strong> The percentage of opens that resulted in a click.</li>
        <li><strong>Opens:</strong> The total number of times the email was opened.</li>
        <li><strong>Open Rate:</strong> The percentage of emails opened out of the total number of emails sent.</li>
        <li><strong>Quantity/Impressions:</strong> The total number of emails sent/delivered.</li>
      </ul>
    </div>
    <div class="glossary" name="Social Media (Meta and TikTok)" toggle>
      <div class="glossary-heading">Social Media (Meta and TikTok)</div>
      <ul>
        <li><strong>Impressions:</strong> The total number of times your content was displayed on social platforms.</li>
        <li><strong>Clicks (All):</strong> This metric includes every interaction with your ad. It counts not only clicks on links that direct users to a specific destination but also interactions like post likes, comments, shares, clicks on your Page's name, and even expanding a photo or video to full screen.</li>
        <li><strong>Link Clicks:</strong> These are clicks on links within your ad that take users to a specific destination, such as your website, a landing page, or an app store. This metric focuses on measuring the effectiveness of your ad in driving traffic to your chosen URL.</li>
        <li><strong>CTR (Click-Through Rate):</strong> The percentage of impressions that resulted in any click on your ad, giving you a broad view of engagement.</li>
        <li><strong>Link Click CTR:</strong> This is the percentage of impressions that resulted in a link click, offering insight into how effectively your ad drives traffic to your intended destination.</li>
        <li><strong>Conversions:</strong> The number of desired actions taken after interacting with your ads.</li>
        <li><strong>Post Engagements:</strong> Total interactions with your posts, including clicks, likes, shares, comments, and reactions.</li>
        <li><strong>Reach:</strong> The total number of unique users who saw your ads.</li>
      </ul>
    </div>
    <slide-footer></slide-footer>
  </section>
</slide>
