@import '../../../styles/base/_variables';

.slide-footer {
  height: 100px;
  color: @text-gray;

  .text-row {
    display: block;
    width: 100%;
    margin-top: 30px;

    & ::ng-deep .ql-editor {
      font-size: 24px;
    }
  }
}
