@import '../../../styles/base/_variables.less';

.chart-content {
  height: 650px;
  width: 100%;
}

icon {
  width: 32px;
  margin-right: 1rem;
  color: @text-gray;
}

.statistic-icons {
  &.p-20 {
    padding: 20px 0;
  }
}
