@import '../../../styles/base/_variables';

.slide-header {
  font-size: 40px;
  font-weight: bold;

  .header-logo {
    float: right;
    height: 100px;
    display: inline-block;
  }

  .text {
    display: inline-block;
    width:800px;
  }
}