<slide name="social-media-creative-summary">
  <section class="slide slide-cover">
    <div class="main">
      <div class="header"></div>
      <div class="body-container">
        <div class="left">
          <app-table [tableHeaders]="headers" [tableData]="data"></app-table>
        </div>
        <div class="right">
          <div class="container-one">
            <app-image-upload [title]="title"></app-image-upload>
          </div>

          <div class="container-two">
            <app-image-upload [title]="title"></app-image-upload>
          </div>
        </div>
      </div>
      <div class="footer"></div>
    </div>
  </section>
</slide>
