.row {
  display: flex;
  justify-content: center;
}

.title-block {
  display: block;
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 24px;
  margin-bottom: 2rem;
  word-break: break-word;
}
