table {
  width: 100%;
  letter-spacing: 0.05em;
	font-weight: 300;

  thead {
		tr {
      border-bottom: 2px solid @light-gray;
			text-transform: uppercase;
			color: @text-gray;
			text-align: left;
    }

    th {
      text-transform: uppercase;
      text-align: left;
      white-space: nowrap;
      padding: 0px 12px 16px 12px;
      font-size: 18px;
      line-height: 18px;
      vertical-align: bottom;

      &.wrapped {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid @light-gray;
      &:last-child {
        border-bottom: none;
      }
      &.less-padding {
        td {
          padding: 24px 12px;
          &:last-child {
            padding-right: 0;
          }
        }
      }
      &.border-bottom {
        td {
          border-bottom: 2px solid;
          font-weight: 900;
        }
      }
    }
  }

  td {
    color: #12142a;
    padding: 27px 12px;
    font-size: 18px;
  }

  .metric {
    width: 1px;
    text-align: right;
    white-space: nowrap;
  }

  th, td {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
