.glossary {
  background-color: #e6f2f7;
  padding: 45px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.slide-header {
  text-align: center;
}

.box {
  background-color: #0071b3;
  border-radius: 6px;
  width: 99%;
  height: 30px;
  padding: 10px;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  h6 {
    text-align: center;
    color: white;
    align-items: center;

  }
}

.main {
  background-color: #ffffff;
  flex: 1;
  flex-grow: 1;
}
