@blue: #2f4c60;
@light-blue: #3497DB;
@bright-blue: #49c6f8;
@white: #fff;
@text-gray: #c6c6c6;
@gray: #ccc;
@light-gray: #eeeff7;
@black: #12142a;
@pink: #fc4d87;
@green: #bddcac;
@dark-gray: #3f3f3f;
@light-green: #E5F0DB;

@primary-font: ariel;
@header-font: sans-serif;


@desktop: @blue;
@tablet: @bright-blue;
@smartphone: @pink;
@mobile: @pink;
@video: @light-blue;

@base-fontfamily: arial, sans-serif;
@base-font-weight: normal;
@base-line-height: 1.3;
@base-body-bg: @gray;
@base-font-size: 30px;
@base-font-color: @black;

@heading-font-weight: 300;

@primary-color: @blue;
