<slide name="Key terms to know">
  <divider></divider>
  <section class="slide campaigns">
    <div>
      <img class="header-logo" src="assets/img/LOGO-GeorgesMedia-Standard.png" />
    </div>
    <div class="glossary-mainheading">Key terms to know</div>
    <div class="glossary" name="General Digital Advertising Terms" toggle>
      <div class="glossary-heading">General Digital Advertising Terms</div>
      <ul>
        <li><strong>Ad Fatigue:</strong> When an audience becomes tired of seeing the same ad repeatedly, leading to lower engagement rates and campaign effectiveness.</li>
        <li><strong>Behavioral Targeting:</strong> Targeting users based on their browsing behavior, such as the websites they've visited or the searches they've made.</li>
        <li><strong>Bounce Rate:</strong> The percentage of visitors to a website who navigate away from the site after viewing only one page.</li>
        <li><strong>Clicks:</strong> The count of times users have clicked on an ad.</li>
        <li><strong>Click-Through Rate (CTR):</strong> The percentage of impressions that led to a click. Calculated as (Clicks / Impressions) * 100.</li>
        <li><strong>Conversion Rate:</strong> The percentage of users who took a desired action after clicking on an ad. Calculated as (Conversions / Clicks) * 100.</li>
        <li><strong>Cost Per Action (CPA):</strong> The cost associated with a specific action being taken. Calculated as (Total Cost / Number of Actions).</li>
        <li><strong>Cost Per Click (CPC):</strong> The amount paid for each click on an ad.</li>
        <li><strong>Cost Per Impression (CPM):</strong> Cost per thousand impressions. Reflects the amount paid for every thousand impressions of an ad.</li>
        <li><strong>Engagement Rate:</strong> A measure of the level of engagement that users have with an ad.</li>
        <li><strong>Frequency:</strong> The average number of times an ad is shown to the same user over a specific period.</li>
        <li><strong>Geo-Targeting:</strong> The practice of delivering ads to users based on their geographic locations.</li>
        <li><strong>Impressions:</strong> The number of times an ad is displayed, regardless of whether it was clicked or not.</li>
        <li><strong>Lookalike Audience:</strong> A way to reach new people who are likely to be interested in your business because they're similar to your best existing customers.</li>
        <li><strong>Programmatic Advertising:</strong> The automated buying and selling of online advertising space.</li>
        <li><strong>Remarketing/Retargeting:</strong> Serving ads to users who have previously visited your website or mobile app.</li>
        <li><strong>Return on Ad Spend (ROAS):</strong> Calculates the return directly from advertising spend. Calculated as (Revenue from Ad Spend / Cost of Ad Spend).</li>
        <li><strong>Return on Investment (ROI):</strong> A measure of the profitability of the advertising campaign.</li>
        <li><strong>View-Through Conversions:</strong> Conversions that happen after a user sees an ad but does not click on it.</li>
      </ul>
    </div>
    <slide-footer></slide-footer>
  </section>
</slide>
