<slide [loading]="loading" name="Creative Performance" *ngFor="let creativeSizes of creativeSizesGroups; index as groupIdx">
  <section class="slide slide-creative-size-performance">
    <header class="slide-header">
      <h2>
        Creative Size Performance
      </h2>
    </header>
    <div class="main">
      <table>
        <thead>
        <tr>
          <th class="static">Creative size</th>
          <th class="metric small impressions">Delivered impressions</th>
          <th class="metric small clicks">Clicks</th>
          <th class="metric small">CTR</th>
          <th class="metric small viewability">Viewability</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let creativeSize of creativeSizes">
          <td>{{creativeSize.name}}</td>
          <td class="metric impressions">{{creativeSize.metrics?.gam_impressions?.value | number}}</td>
          <td class="metric clicks">{{creativeSize.metrics?.gam_clicks?.value | number}}</td>
          <td class="metric">{{creativeSize.metrics?.ctr?.value | percent}}</td>
          <td class="metric viewability">{{creativeSize.metrics?.gam_viewability?.value | percent}}</td>
        </tr>
        </tbody>
      </table>
      <div class="summary">
        <text-editor
          class="summary-text"
          placeholder="Summary text"
          [id]="'creative-size-performance-summary-' + groupIdx"
          [plainText]="true">
        </text-editor>
      </div>
    </div>
    <footer class="slide-footer"></footer>
  </section>
</slide>
