<slide name="Glossary-2">
  <divider></divider>
  <section class="slide campaigns">
    <div>
      <img class="header-logo" src="assets/img/LOGO-GeorgesMedia-Standard.png" />
    </div>
    <div class="glossary" name="Branded Content" toggle>
      <div class="glossary-heading">Branded Content</div>
      <ul>
        <li><strong>Article Page Views / Impressions:</strong> The number of times an article or page was viewed.</li>
        <li><strong>Comments:</strong> The number of comments on your social media posts promoting your branded content article.</li>
        <li><strong>CTR (Click-Through Rate):</strong> The percentage of ad impressions that resulted in a click.</li>
        <li><strong>Display Ad Clicks:</strong> The number of clicks on branded content display ads. This includes display ads from the promotional campaign and those fixed to the article page.</li>
        <li><strong>Display Ad Impressions:</strong> The number of times display ads were shown as part of the branded content campaign. This includes display ads from the promotional campaign and those fixed to the article page.</li>
        <li><strong>Likes (reactions):</strong> The number of likes on social media posts promoting the branded content article.</li>
        <li><strong>Shares:</strong> The number of times social media posts promoting the branded content article were shared.</li>
        <li><strong>Social Media Engagement:</strong> Total interactions with social media posts promoting the branded content article, including clicks, likes, comments, and shares.</li>
        <li><strong>Social Post Impressions:</strong> The number of times social media posts promoting the branded content article were seen.</li>
        <li><strong>Social Post Link Clicks:</strong> The number of times links within the social media posts were clicked. These links are set up to direct users to the branded content article.</li>
        <li><strong>Total Ad Clicks:</strong> The total clicks on all branded content ads. This includes all display ads and social media posts.</li>
        <li><strong>Total Ad Impressions:</strong> The total number of times branded content ads were shown. This includes all display ads and social media posts.</li>
        <li><strong>Total Time In-View:</strong> The total duration that the branded content campaign was visible to users.</li>
    </ul>
    </div>
    <div class="glossary" name="Streaming Radio" toggle>
      <div class="glossary-heading">Streaming Radio</div>
      <ul>
        <li><strong>Audio Starts:</strong> The number of times an audio ad was started.</li>
        <li><strong>Complete Listen Audio:</strong> The number of times an audio ad was listened to in its entirety.</li>
        <li><strong>Completion Rate:</strong> The percentage of audio ads that were listened to from start to finish.</li>
        <li><strong>Impressions:</strong> The total number of times ads were served to listeners.</li>
        <li><strong>Post-click Conversions:</strong> Conversions following a click on an ad.</li>
        <li><strong>Post-view Conversions:</strong> Conversions following exposure to an ad without a direct click.</li>
        <li><strong>Total Conversions:</strong> The total number of desired actions taken after listening to ads, including all post-view and post-click conversions.</li>
      </ul>
    </div>
    <slide-footer></slide-footer>
  </section>
</slide>
