@import '../../../styles/base/_variables';

.video-summary {
  background: url("../../../assets/img/layer-video_campaign_summary.png") @white bottom center;
  background-size: cover;
  height: 100%;

  .content {
    color: @white;

    .column-container {
      text-align: center;

      .box-column {
        width: 275px;
        margin: 0 100px;
        display: inline-block;
        padding: 10px 30px 10px 30px;
        text-align: center;

        .image {
          line-height: 150px;

          img {
            height: 150px;
            vertical-align: middle;

            &.small {
               height: 100px;
            }
          }

          .highcharts-container {
            border-radius: 80px !important;
            margin: auto !important;
          }
        }

        .value {
          padding-top: 10px;
          font-size: 36px;
          text-align: center;
          color: #000000;
          font-weight: bold;
        }

        .metric {
          font-size: 26px;
          font-weight: bold;
        }
      }
    }
  }

  .info-table {
    margin: 3em 0;
    width: 100%;

    tr {
      border: none;
    }

    .name {
      color: @white;
      border-right: 1px solid @pink;
      text-align: right;
      padding-right: 1em;
      vertical-align: middle;
    }

    .bottom-border {
      border-bottom: 1px solid @pink;
    }

    .value {
      ::ng-deep .ql-editor {
        &.ql-blank::before,
        p {
          font-size: 3em;
          color: @white;
        }
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.stats {
  margin-top: auto;

  .column-container {
    display: flex;
    justify-content: center;
  }
}

.chart-container {
  position: relative;
  height: 100%;

  .donut-chart {
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .donut-legend {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: @black;
    font-weight: bold;
  }
}
