<slide [loading]="loading" name="Top Creative" *ngFor="let creatives of creativeGroups">
  <section class="slide top-creatives">
    <header class="slide-header">
      <h2>
        Top Social Creatives
        <header-logo></header-logo>
      </h2>
    </header>
    <div class="main">
      <div class="row">
        <ng-container *ngFor="let creative of creatives">
          <creative-social-top [creative]="creative" [totalMetrics]="totalMetrics" class="col-one-of-two top-creatives"></creative-social-top>
        </ng-container>
      </div>
    </div>
    <footer class="slide-footer">
    </footer>
  </section>
</slide>
