<div class="loading-container" ></div>
<cover></cover>
<table-of-contents></table-of-contents>
<overview></overview>
<simplifi-overview *ngIf="hasSimplifi"></simplifi-overview>
<simplifi-mom *ngIf="hasSimplifi"></simplifi-mom>
<simplifi-device-breakdown *ngIf="hasSimplifi"></simplifi-device-breakdown>
<simplifi-tactic-breakdown *ngIf="hasSimplifi"></simplifi-tactic-breakdown>
<simplifi-audience-breakdown *ngIf="hasSimplifi"></simplifi-audience-breakdown>
<simplifi-breakdown *ngIf="hasSimplifi"></simplifi-breakdown>
<simplifi-domain-breakdown *ngIf="hasSimplifi"></simplifi-domain-breakdown>
<simplifi-keyword-breakdown *ngIf="hasSimplifi"></simplifi-keyword-breakdown>
<simplifi-heatmap-breakdown *ngIf="hasSimplifi"></simplifi-heatmap-breakdown>
<simplifi-state-heatmap-breakdown *ngIf="hasSimplifi"></simplifi-state-heatmap-breakdown>
<simplifi-city-breakdown *ngIf="hasSimplifi"></simplifi-city-breakdown>
<simplifi-geofencing-breakdown *ngIf="hasSimplifi"></simplifi-geofencing-breakdown>
<simplifi-target-geofencing-breakdown *ngIf="hasSimplifi"></simplifi-target-geofencing-breakdown>
<simplifi-native-overview *ngIf="hasSimplifiNative"></simplifi-native-overview>
<simplifi-native-campaign-breakdown *ngIf="hasSimplifiNative"></simplifi-native-campaign-breakdown>
<simplifi-native-creative-breakdown *ngIf="hasSimplifiNative"></simplifi-native-creative-breakdown>
<simplifi-native-domain *ngIf="hasSimplifiNative"></simplifi-native-domain>
<simplifi-native-device *ngIf="hasSimplifiNative"></simplifi-native-device>
<simplifi-native-image *ngIf="hasSimplifiNative"></simplifi-native-image>
<google-search-overview *ngIf="hasGoogleSearch"></google-search-overview>
<google-search-campaign-breakdown *ngIf="hasGoogleSearch"></google-search-campaign-breakdown>
<google-search-device-breakdown *ngIf="hasGoogleSearch"></google-search-device-breakdown>
<google-search-keyword-breakdown *ngIf="hasGoogleSearch"></google-search-keyword-breakdown>
<google-search-breakdown *ngIf="hasGoogleSearch"></google-search-breakdown>
<youtube-overview *ngIf="hasYoutube"></youtube-overview>
<youtube-campaign-breakdown *ngIf="hasYoutube"></youtube-campaign-breakdown>
<youtube-device-breakdown *ngIf="hasYoutube"></youtube-device-breakdown>
<youtube-keyword-breakdown *ngIf="hasYoutube"></youtube-keyword-breakdown>
<youtube-breakdown *ngIf="hasYoutube"></youtube-breakdown>
<facebook-overview *ngIf="hasFacebook"></facebook-overview>
<facebook-campaign-breakdown *ngIf="hasFacebook"></facebook-campaign-breakdown>
<facebook-breakdown *ngIf="hasFacebook"></facebook-breakdown>
<facebook-demographics *ngIf="hasFacebook"></facebook-demographics>
<facebook-device *ngIf="hasFacebook"></facebook-device>
<facebook-platform *ngIf="hasFacebook"></facebook-platform>
<facebook-placement *ngIf="hasFacebook"></facebook-placement>
<facebook-conversions *ngIf="hasFacebook"></facebook-conversions>
<facebook-dma *ngIf="hasFacebook"></facebook-dma>
<recommendations></recommendations>
