<slide *ngFor="let creatives of creativeGroups" [loading]="loading" name="Onsite Video Ads">
  <divider></divider>
  <section class="slide campaigns">
    <slide-header text="Onsite Video"></slide-header>
    <the-advocate-table [items]="creatives" [kpis]="kpis" [totals]="totals" header="Creatives"></the-advocate-table>
    <slide-footer></slide-footer>
  </section>
</slide>
<slide *ngFor="let creatives of creativeGroups" [loading]="loading" name="Onsite Video Ads - Video Performance">
  <divider></divider>
  <section class="slide campaigns">
    <slide-header text="Onsite Video - Video Performance"></slide-header>
    <the-advocate-table [items]="creatives" [kpis]="quartileKpis" [totals]="totals" header="Creatives"></the-advocate-table>
    <slide-footer></slide-footer>
  </section>
</slide>
