@import '../../../styles/base/_variables';

.slide {
	background: url("../../../assets/img/front_page.png");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

hr {
	width: 200px;
	height: 8px;
	background-color: @white;
	margin-left: 2px;
}

img {
	margin: 0;
	margin-left: 0;
	margin-top: 128px;
	color: @white;
	background-color: @white;
	border-radius: 16px;
	width: 256px;
}

.main-header {
	margin-top: 185px;
	color: @white;
	font-size: 80px;
}

.sub-header {
	color: @white;
	font-size: 36px;
	font-weight: thin;
}

.footer-text {
	position: absolute;
	bottom: 16px;
	text-align: center;
	margin-left: 816px;
	color: @footer;
	font-size: 10px;
}
