@import "../../../styles/base/_variables";

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}
.slide-cover {
  height: 100%;
}

.main-container {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("../../../assets/img/back-ground.png");
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.design-container {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  width: 80vw;
}

.image-container {
  position: relative;
  width: 20vw;
  height: 40vh;
  top: -10vh; /* Adjusted to viewport height */
  left: -6vw; /* Adjusted to viewport width */
}

.blue-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 5vw; /* Adjusted to viewport width */
  padding-bottom: 2.5vh; /* Adjusted to viewport height */
  color: white;
  background-color: #27b2f5;
  border-top-left-radius: 20vh;
  border-bottom-left-radius: 18vh;
  font-family: "Calibri";
  width: 99vw;
  height: 30vh;
  z-index: 1;
}

.dark-blue {
  z-index: 4;
  position: absolute;
  top: 28vh;
  background-color: @navy-blue;
  width: 25vw;
  height: 5vh;
  border-top-left-radius: 5vh;
  border-bottom-left-radius: 5vh;
}

.violet-container {
  z-index: 8;
  position: absolute;
  top: 30vh;
  opacity: 0.9;
  background-color: @violet;
  width: 40vw;
  height: 9vh;
  border-top-left-radius: 5vh;
  border-bottom-left-radius: 5vh;
}

.text-1 {
  font-family: "Calibri";
  font-size: 4.4vw;
  font-weight: bold;
}

.text-2 {
  font-family: "Calibri";
  font-size: 2.4vw;
}

.body-container {
  display: flex;
  justify-content: space-between;
  margin-left: 5vw; /* Adjusted to viewport width */
  overflow: hidden;
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 50%;
  padding-top: 25vh; /* Adjusted to viewport height */
  padding-left: 15vw; /* Adjusted to viewport width */
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

#name {
  font-family: "Calibri";
  font-size: 6vw;
  color: #11264a;
}

#performance {
  font-family: "Calibri";
  font-size: 3.6vw;
}

.cover-bottom {
  width: auto;
  height: 85vh; /* Adjusted to viewport height */
  position: relative;
  bottom: -10vh;
  right: -9vw;
}

.logo {
  position: relative;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 13vw;
  padding-top: 5vh;
  padding-bottom: 6vh;
}
