@import '../../../styles/base/_variables';

.slide-header {
  font-weight: bold;
  height: 100px;
  color: @text-gray;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  
  h2 {
    font-size: 32px;
    font-weight: bold;
    color: black;
  }

  h3 {
    font-size: 16px;
    color: black;
    font-weight: bold;
  }

  .text-row {
    display: block;
    width: 100%;
    margin-bottom: 2em;

    .date-section {
      display: inline-block;
      float: right; 
    }
  }
  
  .text {
    float: left;
  }

  .dates {
    float: right;
  }

  .divider {
    height: 2px;
    width: 100%;
    background: #BFBFBF;
  }
}
