@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.content {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;

	.main {
		display: flex;
	}
}

h2 {
	font-size: 48px;
	margin-left: -80px;
}

.chart-content {
	height: 350px;
	width: 100%;
}

.flag {
	background-color: red;
	width: 50px;
	height: 8px;
	display: inline-block;
	margin-bottom: 15px;
	margin-right: 15px;
}

.statistic-icons {
	margin-bottom: 150px;
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
}