.statistic-icons {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  margin-bottom: 30px;
  .statistic-icons-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
  }
  icon {
    color: @dark-grey;
    margin-right: 30px;
  }
  .icon {
    font-size: 60px;
    margin-right: 30px;
    color: @dark-grey;
    &.icon-hand,
    &.icon-click-rate{
      font-size: 40px;
    }
    &.icon-eye {
      font-size: 20px;
    }
  }
  .wrap-title {
    .num {
      display: block;
      font-size: 32px;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 6px;
      font-family: Arial, sans-serif;
    }
    .title {
      display: block;
      color: @dark-grey;
      letter-spacing: 0.05em;
      font-size: 32px;
      font-family: Arial, sans-serif;
    }
  }
}
