:host {
	display: block;
	position: relative;
	color: inherit;
	font-size: inherit;
	font-style: inherit;
	font-family: inherit;
	font-weight: inherit;
}

.input {
	display: inline-block;
  width: auto;
  min-width: 10px;
  max-width: 100%;
	border: none;
	padding: 0;
	outline: none;
	text-align: right;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	color: inherit;
	background: transparent;
}
