<div class="loading-container" ></div>
<cover></cover>
<overview></overview>
<overview-attribution></overview-attribution>
<gam-overview *ngIf="hasGam"></gam-overview>
<gam-line-item-breakdown *ngIf="hasGam"></gam-line-item-breakdown>
<gam-breakdown *ngIf="hasGam"></gam-breakdown>
<madhive-overview *ngIf="hasMadhive"></madhive-overview>
<madhive-publisher-breakdown *ngIf="hasMadhive"></madhive-publisher-breakdown>
<madhive-breakdown *ngIf="hasMadhive"></madhive-breakdown>
<gdn-overview *ngIf="hasGdn"></gdn-overview>
<gdn-ad-group-breakdown *ngIf="hasGdn"></gdn-ad-group-breakdown>
<gdn-breakdown *ngIf="hasGdn"></gdn-breakdown>
<google-search-overview *ngIf="hasGoogleSearch"></google-search-overview>
<google-search-ad-group-breakdown *ngIf="hasGoogleSearch"></google-search-ad-group-breakdown>
<google-search-breakdown *ngIf="hasGoogleSearch"></google-search-breakdown>
<google-performance-max-overview *ngIf="hasGooglePerformanceMax"></google-performance-max-overview>
<google-performance-max-breakdown *ngIf="hasGooglePerformanceMax"></google-performance-max-breakdown>
<youtube-overview *ngIf="hasYoutube"></youtube-overview>
<youtube-breakdown *ngIf="hasYoutube"></youtube-breakdown>
<facebook-overview *ngIf="hasFacebook"></facebook-overview>
<facebook-ad-set-breakdown *ngIf="hasFacebook"></facebook-ad-set-breakdown>
<facebook-breakdown *ngIf="hasFacebook"></facebook-breakdown>
<groundtruth-overview *ngIf="hasGroundtruth"></groundtruth-overview>
<groundtruth-adgroup-breakdown *ngIf="hasGroundtruth"></groundtruth-adgroup-breakdown>
<groundtruth-zip-breakdown *ngIf="hasGroundtruth"></groundtruth-zip-breakdown>
<groundtruth-breakdown *ngIf="hasGroundtruth"></groundtruth-breakdown>
<simplifi-overview *ngIf="hasSimplifi"></simplifi-overview>
<simplifi-campaign-breakdown *ngIf="hasSimplifi"></simplifi-campaign-breakdown>
<simplifi-breakdown *ngIf="hasSimplifi"></simplifi-breakdown>
<site-impact-overview *ngIf="hasSiteImpact"></site-impact-overview>
<site-impact-breakdown *ngIf="hasSiteImpact"></site-impact-breakdown>
<callrail-overview *ngIf="hasCallrail"></callrail-overview>
<callrail-breakdown *ngIf="hasCallrail"></callrail-breakdown>
<thank-you></thank-you>
