<slide name="Glossary">
  <divider></divider>
  <section class="slide campaigns">
    <div>
      <img class="header-logo" src="assets/img/LOGO-GeorgesMedia-Standard.png" />
    </div>
    <div class="glossary-heading">Metrics Glossary</div>
    <p>Keep in mind that some metrics listed in this glossary may not apply to all campaign types. The relevance of each metric can vary depending on the specific goals, platforms, and strategies of your digital advertising campaigns. We recommend focusing on the metrics that align closely with your campaign objectives and offer valuable insights into its performance.</p>
    <div class="glossary" name="All Data" toggle>
      <div class="glossary-heading">All Data</div>
      <ul>
          <li><strong>Total Clicks:</strong> The total number of times users clicked on your ads.</li>
          <li><strong>Total Conversions:</strong> The total number of times users took a desired action (like making a purchase) after clicking on your ad.</li>
          <li><strong>Total CTR (Click-Through Rate):</strong> The percentage of impressions that resulted in a click.</li>
          <li><strong>Total Impressions:</strong> The total number of times your ads were displayed to users.</li>
          <li><strong>Total Time in View:</strong> The cumulative amount of time users spent viewing your ads.</li>
      </ul>
    </div>
    <div class="glossary" name="Targeted Display" toggle>
      <div class="glossary-heading">Targeted Display</div>
      <ul>
        <li><strong>Clicks:</strong> The total number of clicks on those display ads.</li>
        <li><strong>CTR (Click-Through Rate):</strong> The percentage of impressions that led to a click on the display ads.</li>
        <li><strong>Impressions:</strong> The total number of times display ads were displayed.</li>
        <li><strong>Post-click Conversions:</strong> Conversions that occurred after a user clicked on an ad.</li>
        <li><strong>Post-view Conversions:</strong> Conversions that occurred after a user viewed an ad but did not click it.</li>
        <li><strong>Total Conversions:</strong> The total number of conversions from both clicks and views, including all post-view and post-click conversions.</li>
        <li><strong>Total Time In-View:</strong> The total time users spent viewing the display ads.</li>
    </ul>
    </div>
    <slide-footer></slide-footer>
  </section>
</slide>
