@import '../../../styles/base/_variables';

.recommendations {
  color: @black;

  text-editor {
    height: 800px;
  }

  & ::ng-deep .ql-editor {
    font-size: 24px;

    p {
      font-size: 30px;
    }
  }
}
