:host {
  display: flex;
  align-items: center;
}

.stripe {
  background-image: url("../../../assets/img/campaign-at-a-glance.png");
  background-position: center;
  background-size: cover;
  height: 5px;
  width: 100%;
}

.logo {
  margin-left: 40px;
  width: 130px;

  img {
    width: 100%;
    height: auto;
  }
}
