.desktop {
  color: @desktop;
  &:after {
    background: @desktop;
  }
}

.tablet {
  color: @tablet;
  &:after {
    background: @tablet;
  }
}

.smartphone {
  color: @smartphone;
  &:after {
    background: @smartphone;
  }
}

.mobile {
  color: @mobile;
  &:after {
    background: @mobile;
  }
}

.video {
  color: @video;
  &:after {
    background: @video;
  }
}

.glossary {
  color: @blue;
}

.sub-header {
  .head {
    color: @secondary-purple;
  }

  .title {
    color: @secondary-purple;
  }
}

.wrap-title {
  .num {
    color: @primary-blue;
  }

  .title {
    color: @secondary-black;
  }
}

legend {
	color: @secondary-black;
}
