body {
	font-family: @base-fontfamily;
	font-weight: @base-font-weight;
	line-height: @base-line-height;
	background: @base-body-bg;
	font-size: @base-font-size;
	color: @base-font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: @base-fontfamily;
	font-weight: @heading-font-weight;
}

h1 {
	font-size: 52px;
}

h2 {
	font-size: 80px;
}

h3 {
	font-size: 44px;
}

h6 {
	font-size: 32px;
	font-weight: 400;
	text-transform: uppercase;
	color: @secondary-black;
	margin-bottom: 18px;
	letter-spacing: 0.15em;
}

.slide-header {
	h2 {
		font-size: 48px;
		text-transform: uppercase;
		font-family: @base-bold-fontfamily;
		letter-spacing: 0.01em;
	}
}

.title-header {
  display: block;
  font-size: 25px;
  span {
    display: block;
  }
}

.sub-header {
	&.big {
		font-size: 32px;
		text-transform: uppercase;
	}
	font-family: @base-fontfamily;
  font-size: 27px;
  margin-bottom: 40px;
  span {
    display: block;
  }
  .head {
    margin-bottom: 15px;
  }
  .title {
    font-size: 19px;
  }
}

.statistic-icons-item {
	.num {
		font-family: @base-bold-fontfamily;
	}
	.title {
		font-family: @base-fontfamily;
		letter-spacing: 0.15em;
	}
}

.uppercase {
  text-transform: uppercase;
}
