@primary-red: #EE2824;
@primary-blue: #0292F4;
@secondary-gray: #707071;
@secondary-black: #333333;
@secondary-purple: #6C3294;
@tertiary-purple: #B62785;
@tertiary-red: #A31347;

@gradient-light-blue: rgba(54, 25, 75, 1);
@gradient-dark-blue: rgba(4, 127, 213, 1);

@blue: #2435c5;
@bright-blue: #49c6f8;
@white: #fff;
@text-gray: #7a7b8d;
@gray: #ccc;
@light-gray: #eeeff7;
@black: #12142a;
@header-blue: #000640;
@background-gray: #e5e5e5;

@desktop: @tertiary-purple;
@tablet: @bright-blue;
@smartphone: @secondary-purple;
@mobile: @secondary-purple;
@video: @tertiary-red;

@base-fontfamily: 'Arial', sans-serif;
@base-bold-fontfamily: 'Arial black';
@base-font-weight: normal;
@base-line-height: 1.125;
@base-body-bg: @gray;
@base-font-size: 16px;
@base-font-color: @black;

@heading-font-weight: 300;
