<slide name="CTR Report">
  <divider></divider>
  <section class="slide campaigns">
    <div>
      <img class="header-logo" src="assets/img/LOGO-GeorgesMedia-Standard.png" />
    </div>
    <div class="glossary" name="Average CTR Report" toggle>
      <div class="glossary-mainheading">Georges Media Group 2023 Average CTR Report</div>
      <ul>
        <li>This document is designed to help you compare your campaign's performance against our averages, providing a benchmark for understanding your results in the context of broader industry performance.</li>
        <li><strong>Understanding CTR:</strong> Click-Through Rate (CTR) is a key metric in digital advertising, representing the percentage of impressions that led to a click. It's calculated by dividing the number of clicks by the number of impressions and multiplying by 100 to get a percentage.
        </li>
      </ul>
      <div class="glossary-heading">2023 Average CTRs by Campaign Tactic</div>
      <div class="image-text-container">
        <div class="image-container">
          <img src="assets/img/Chart.jpg" alt="Description of the image">
        </div>
        <div class="text-container">
          <ul>
            <li><span class="bold">Email CTOR:</span> <span class="blue-text">11.40% (based on opens)</span></li>
            <li><span class="bold">Email CTR:</span> <span class="blue-text">2.07% (based on quantity sent)</span></li>
            <li><span class="bold">Extended Network Display:</span> <span class="blue-text">0.11%</span></li>
            <li><span class="bold">Facebook Ads:</span> <span class="blue-text">2.43% (All Clicks)</span></li>
            <li><span class="bold">Facebook Ads:</span> <span class="blue-text">1.12% (Link Clicks)</span></li>
            <li><span class="bold">Large Screen Streaming TV:</span> <span class="blue-text">0.00%</span></li>
            <li><span class="bold">Newsletters:</span> <span class="blue-text">0.02%</span></li>
            <li><span class="bold">Onsite Display:</span> <span class="blue-text">0.17%</span></li>
            <li><span class="bold">Onsite Video:</span> <span class="blue-text">0.13%</span></li>
            <li><span class="bold">Pre-Roll Video:</span> <span class="blue-text">0.56%</span></li>
            <li><span class="bold">SEM:</span> <span class="blue-text">4.73%</span></li>
            <li><span class="bold">Streaming Radio:</span> <span class="blue-text">0.01%</span></li>
            <li><span class="bold">TikTok:</span> <span class="blue-text">0.65%</span></li>
            <li><span class="bold">YouTube Video:</span> <span class="blue-text">0.03%</span></li>
          </ul>
        </div>
      </div>

    </div>
    <slide-footer></slide-footer>
  </section>
</slide>
