@import '../../../styles/base/_variables';

.main {
  display: flex;
  justify-content: center;
  align-items: center;

  .box-1 {
    margin-left: 100px;
    margin-right: 200px;
  }

  .box-2 {
    margin-right: 100px;
  }

  .boxes {
    width: 100%;
    height: 55%;
  }
}
