@import '../../../styles/base/_variables';

.slide-thank-you {
  color: @white;
  &.slide {
    margin: 0 auto;
    background-color: #000;
    background-size: cover;
  }

  .wrap-head {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;

    h3 {
      font-size: 4em;
    }

    p {
      font-size: 2em;
    }

    img {
      height: 150px;
      margin-top: 25px;
    }
  }

  .dates {
    text-align: right;
    font-size: 2em;
  }

  .main {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
  }
}
