.primary-text {
  color: @primary-color;
}

.desktop {
  color: @desktop;
  &:after {
    background: @desktop;
  }
}

.tablet {
  color: @tablet;
  &:after {
    background: @tablet;
  }
}

.smartphone {
  color: @smartphone;
  &:after {
    background: @smartphone;
  }
}

.mobile {
  color: @mobile;
  &:after {
    background: @mobile;
  }
}

.video {
  color: @video;
  &:after {
    background: @video;
  }
}

.facebook {
  color: @desktop;
  &:after {
    background: @desktop;
  }
}

.instagram {
  color: @tablet;
  &:after {
    background: @tablet;
  }
}
