.primary-text {
  color: @primary-color;
}

.desktop {
  color: @desktop;
}

.tablet {
  color: @tablet;
}

.smartphone {
  color: @smartphone;
}

.video {
  color: @video;
}

.desktop-percent-bar {
  &:after {
    background: @desktop;
  }
}

.tablet-percent-bar {
  &:after {
    background: @tablet;
  }
}

.smartphone-percent-bar {
  &:after {
    background: @smartphone;
  }
}

.video-percent-bar {
  &:after {
    background: @video;
  }
}
