@import '../../../styles/base/_variables';

.slide-cover {
  color: @white;
  &.slide {
    padding-left: 111px;
    background: url('../../../assets/img/cover.png');
    background-position: center;  
    background-repeat: no-repeat; 
    background-size: cover;
    .slide-footer {
      padding: 50px 0;
      color: @white;
    }
  }
  .wrap-head {
    max-width: 1450px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    img {
      position:absolute;
      right:-30px;
      bottom:-50px;
    }
  }
  .main {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
  }

  .footer-title {
    text-align: right;
  }

  .frontpage-logo {
    height: 100px;
  }
}
