.cover-logo {
  width: 500px;
  height: 100px;
}

.slide-header {
  h2 {
    &:after {
      clear: both;
      content: '';
      display: table;
    }

    .header-logo {
      height: 50px;
      float: right;
      font-size: 14/16rem;
    }
  }
}
