/* You can add global styles to this file, and also import other style files */

* {
  font-family: din-2014;
}

html, body {
  height: 100%;
  margin: 0;
}

.loading-container {
  visibility: hidden;
}
