@import '../../../styles/base/_variables';

.page-counter {
  text-align: right;
  display: inline-block;
  float:right;
  margin-top: 2em;
  color: @light-gray;
}

h2 {
  display: inline-block;
  border-bottom: 8px solid @red;
}