@import '../../../styles/base/_variables';

.slide-thank-you {
  color: @white;
  &.slide {
    background: url('/assets/img/frontpage.png');
    background-size: cover;
    font-family: @extrabold-font;
    padding: 50px 80px 50px 80px;
  }
  .main {
    width: fit-content;
    height: fit-content;
    text-transform: uppercase;
    font-size: 4em;
    display: block;
    position: absolute;
    bottom: 300px;
  }
  .header {
    margin-bottom: 100px;
  }
}