.foot {
  height: 10%;
  display: flex;
  flex-direction: row;
  color: #d8d8d8;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.foot img {
  margin: auto;
  margin-left: 100px;
  height: 50px;
  filter: grayscale(1);
  opacity: 0.3;
}

.foot p {
  margin: auto;
  font-size: 14px;
  margin-top: 50px;
  margin-left: -50px;
  position: absolute;
  left: 45%;
}