<div class="main-container">
  <div class="header-container">
    <app-header [headerTitle]="headerContent" [greyBox]="greyBox"></app-header>
  </div>

  <div class="content-container">
    <div class="body-container">
      <img src="assets/img/climbing.png" alt="" height="90" width="90" />
      <div class="text-container">
        <div id="title">Campaign Highlight #1</div>
        <div class="text-editor">
          <text-editor class="text-editor"></text-editor>
        </div>
      </div>
    </div>
    <div class="body-container">
      <img src="assets/img/arrow.png" alt="" height="90" width="90" />
      <div class="text-container">
        <div id="title">Campaign Highlight #2</div>
        <div class="text-editor">
          <text-editor class="text-editor"></text-editor>
        </div>
      </div>
    </div>
    <div class="body-container">
      <img src="assets/img/settings.png" alt="" height="90" width="90" />
      <div class="text-container">
        <div id="title">Campaign Highlight #3</div>
        <div class="text-editor">
          <text-editor class="text-editor"></text-editor>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-container">
    <app-footer-box></app-footer-box>
  </div>
</div>
