<slide name="Key terms to know-2">
  <divider></divider>
  <section class="slide campaigns">
    <div>
      <img class="header-logo" src="assets/img/LOGO-GeorgesMedia-Standard.png" />
    </div>
    <div class="glossary" name="Search Engine Marketing (SEM) Terms" toggle>
      <div class="glossary-heading">Search Engine Marketing (SEM) Terms</div>
      <ul>
        <li><strong>Ad Auction:</strong> The process search engines use to determine the placement of ads.</li>
        <li><strong>Ad Group:</strong> Contains one or more ads that share similar targets within a campaign.</li>
        <li><strong>Google Ads:</strong> Google's online advertising platform.</li>
        <li><strong>Keyword Match Types:</strong> Defines how closely the keyword needs to match the user's search query.</li>
        <li><strong>Landing Page:</strong> The webpage where people end up after they click on your ad.</li>
        <li><strong>Negative Keywords:</strong> Keywords that prevent an ad from being triggered by a certain word or phrase.</li>
        <li><strong>Pay-Per-Click (PPC):</strong> An advertising model where advertisers pay a fee each time one of their ads is clicked.</li>
        <li><strong>Quality Score:</strong> A metric that influences ad rank and cost per click (CPC).</li>
        <li><strong>SEM:</strong> Search Engine Marketing. Efforts to ensure a brand's content appears in search engine results.</li>
        <li><strong>Conversion Tracking:</strong> A tool to track actions taken after clicking on your ads.</li>
      </ul>
    </div>
    <div class="glossary" name="Search Engine Optimization (SEO) Terms" toggle>
      <div class="glossary-heading">Search Engine Optimization (SEO) Terms</div>
      <ul>
        <li><strong>Alt Text:</strong> A description of an image in your site's HTML, used for accessibility and SEO.</li>
        <li><strong>Anchor Text:</strong> The visible, clickable text in a hyperlink.</li>
        <li><strong>Backlink (Inbound Link):</strong> A link from another website to your site.</li>
        <li><strong>Keyword Density:</strong> The percentage of times a keyword appears on a web page compared to the total number of words.</li>
        <li><strong>Meta Tags:</strong> Snippets of text that describe a page's content; important for SEO.</li>
        <li><strong>Off-Page SEO:</strong> Techniques used to improve the position of a website in the SERPs, not conducted directly on the website.</li>
        <li><strong>On-Page SEO:</strong> Optimizing individual web pages to rank higher and earn more relevant traffic.</li>
        <li><strong>Organic Search:</strong> Listings on search engine results pages that appear because of their relevance to the search terms.</li>
        <li><strong>PageRank:</strong> An algorithm used by Google Search to rank web pages in their search engine results.</li>
        <li><strong>SERP (Search Engine Results Page):</strong> The page displayed by a search engine in response to a user's query.</li>
        <li><strong>SEO:</strong> Search Engine Optimization. The process of optimizing a website to increase its visibility for relevant searches.</li>
        <li><strong>Technical SEO:</strong> Website and server optimizations that help search engine spiders crawl and index your site more effectively.</li>
      </ul>
    </div>
    <slide-footer></slide-footer>
  </section>
</slide>
