@import '../../../styles/base/_variables';

.slide-cover {
  color: @black;
  &.slide {
    padding-left: 111px;
    background: @white;
    .slide-header {
      padding: 47px 0;
      margin-bottom: 0;
    }
    .slide-footer {
      padding-top: 25px;
      padding-bottom: 60px;
      color: @white;
      text-transform: uppercase;
    }
  }

  .logo {
    text-align: left;

    img {
      width: 410px;
    }
  }

  .main {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    justify-content: top;
    flex-direction: column;
  }
}

.header {
  margin-top: 70px;
  font-family: 'LibreFranklin-Bold';
  font-size: 84px;
  max-width: 1000px;
  word-break: break-word;
  text-transform: uppercase;
}
