<slide name="Social Media Performance">
  <section class="slide slide-cover">
    <div class="main">
      <div class="header">
        <div class="header-container">
          <div class="light-blue"></div>
          <div class="dark-blue">
            <h1>Social Media Performance</h1>
          </div>
          <div class="violet"></div>
          <div class="orange"></div>
        </div>
      </div>
      <div class="body-container">
        <div class="section-one">
          <div class="outer-box">
            <div
              class="inner-box"
              [ngStyle]="{ 'background-color': '#0F155B' }"
            ></div>
            <div class="line"></div>
            <div class="content">
              <h1
                [ngStyle]="{
              color: '#0F155B',
              fontSize: '22px',
             textDecoration: 'underline',
            }"
              >
                Impressions Delivered
              </h1>
              <h1
                [ngStyle]="{
              color: '#0F155B',
              fontSize: '22px',
            
            }"
              >
                No. of times your message was shown
              </h1>
            </div>
          </div>
          <div class="outer-box">
            <div
              class="inner-box"
              [ngStyle]="{ 'background-color': '#00AAF4' }"
            ></div>
            <div class="line"></div>
            <div class="content">
              <h1
                [ngStyle]="{
              color: '#455051',
              fontSize: '22px',
             textDecoration: 'underline',
            }"
              >
                Clicks
              </h1>
              <h1
                [ngStyle]="{
              color: '#455051',
              fontSize: '22px',
            
            }"
              >
                No. of clicks to your social media page/website
              </h1>
            </div>
          </div>
          <div class="outer-box">
            <div
              class="inner-box"
              [ngStyle]="{ 'background-color': '#C899C1' }"
            ></div>
            <div class="line"></div>
            <div class="content">
              <h1
                [ngStyle]="{
              color: '#455051',
              fontSize: '22px',
             textDecoration: 'underline',
            }"
              >
                Click Thru Rate
              </h1>
              <h1
                [ngStyle]="{
              color: '#455051',
              fontSize: '22px',
            
            }"
              >
                No. of clicks your message received divided by no. of times your
                message was shown
              </h1>
            </div>
          </div>
          <div class="outer-box">
            <div
              class="inner-box"
              [ngStyle]="{ 'background-color': '#C899C1' }"
            ></div>
            <div class="line"></div>
            <div class="content">
              <h1
                [ngStyle]="{
              color: '#455051',
              fontSize: '22px',
             textDecoration: 'underline',
            }"
              >
                Unique Reach
              </h1>
              <h1
                [ngStyle]="{
              color: '#455051',
              fontSize: '22px',
            
            }"
              >
                No. of unique users that the campaign potentially reached
              </h1>
            </div>
          </div>
        </div>
        <div class="section-two">
          <h1
            [ngStyle]="{
              color: '#0F155B',
              fontSize: '40px',
              fontWeight: 'bold'
            }"
          >
            Facebook
          </h1>
          <div class="box">
            <div class="box-one">
              <h4>87,084</h4>
            </div>
            <div class="box-two">
              <h4>98.31%</h4>
            </div>
            <div class="box-three">
              <h4>85,858</h4>
            </div>
            <div class="box-four">
              <h4>17,110</h4>
            </div>
          </div>
        </div>
        <div class="section-three">
          <h1
            [ngStyle]="{
              color: '#0F155B',
              fontSize: '40px',
              fontWeight: 'bold'
            }"
          >
            LinkedIn
          </h1>
          <div class="box">
            <div class="box-one">
              <h4></h4>
            </div>
            <div class="box-two">
              <h4></h4>
            </div>
            <div class="box-three">
              <h4></h4>
            </div>
            <div class="box-four">
              <h4></h4>
            </div>
          </div>
        </div>
        <div class="section-four">
          <h1
            [ngStyle]="{
              color: '#0F155B',
              fontSize: '40px',
              fontWeight: 'bold'
            }"
          >
            TikTok
          </h1>
          <div class="box">
            <div class="box-one">
              <h4></h4>
            </div>
            <div class="box-two">
              <h4></h4>
            </div>
            <div class="box-three">
              <h4></h4>
            </div>
            <div class="box-four">
              <h4></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <img
          src="../../../assets/img/cox-media-logo.png"
          alt=""
          height="70"
          width="90"
        />
      </div>
    </div>
  </section>
</slide>
